<div class="text-center">
    <p>HELLO ADMIN! WELCOME TO THE TASK TRACKING SYSTEM</p><br>
    <a routerLink="/user-form" class="btn btn-primary">add user</a>
    <br /><br />
    <a routerLink="/task-form" class="btn btn-primary">add task</a>
    <br /><br />
    <a routerLink="/deletetask" class="btn btn-primary">delete task</a>
    <br /><br />
    <a routerLink="/search-task" class="btn btn-primary">search</a>
    <br /><br />
    <a routerLink="/track-status" class="btn btn-primary">track status</a>
    <br /><br />
    <a routerLink="/update-bookmark" class="btn btn-primary">update bookmark</a>
    <br /><br />
    <a routerLink="/update-notes" class="btn btn-primary">update notesr</a>
    <br /><br />
    <a routerLink="/update-ownerid" class="btn btn-primary">update owner</a>
    <br /><br />
    <a routerLink="/update-priority" class="btn btn-primary">update priority</a>
    <br /><br />
    
    </div>
